@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

:root {
    --h1: 144px;
    --h2: 96px;
    --hf: 24px;
}

* {
    font-family: 'Ubuntu Mono';
    background: #000000;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    font-size: var(--hf);
    padding: 10px;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--h1);
    margin: 0;
    padding: 0;
    text-shadow: 0 0 100px #ffffff;
}

h2 {
    font-size: var(--h2);
    margin: 0;
    padding: 0;
    text-shadow: 0 0 70px #ffffff;
}

div {
    padding: 5px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background: #ffffff;
}

::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 15px;
}

button {
    padding: 10px;
    margin: 5px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 #ffffff;
    transition: 0.15s;
    outline: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    border-radius: 10px;
    font-size: inherit;
}

button:hover {
    background: #ffffff;
    color: #000000;
    transition: 0.15s;
    box-shadow: 0 0 20px #ffffff;
}

